{{!-- PROBA --}}


<div class="group fixed t-0 l-0 ml-4 mt-2 items-center flex gap-x-2 rounded-lg p-4 hover:bg-gray-50">
          <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">

                <svg xmlns="http://www.w3.org/2000/svg" class = "group-hover:text-indigo-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>


          </div>

          <div>
            <a href="http://localhost:8050/"  class="font-semibold text-gray-900">
              Home
              <span class="absolute inset-0"></span>
            </a>
          </div>


        </div>

{{!-- PROBE --}}


{{#each smsData}}
    <div class="flex items-center justify-center mt-4 mb-4">
        <div class="w-full  max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">SMS <span class="text-red-600">Error</span> </h5>
                <a href="/errors/activate/{{id}}" class="text-sm font-medium text-red-600 hover:underline dark:text-blue-500">
                    Change status
                </a>
            </div>
            <div class="flow-root mt-4 mb-4 ">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

                    {{!-- CLIENT SECTION --}}

                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            {{!-- <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                            </div> --}}
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Mijoz
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Mijoz raqami
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{your_number}}
                            </div>
                        </div>
                    </li>


                    {{!-- DATE SECTION --}}

                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            {{!-- <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="Bonnie image">
                            </div> --}}
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Sorov yuborilgan
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Sorov yuborilgan sanasi
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{sendedAt}}
                            </div>
                        </div>
                    </li>


                    {{!-- PAYMENT DATE SECTION --}}

                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            {{!-- <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-2.jpg" alt="Michael image">
                            </div> --}}
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Tolov qilingan
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Tolov qilingan sana
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{payedAt}}
                            </div>
                        </div>
                    </li>


                    {{!-- PRICE SECTION --}}

                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            {{!-- <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-4.jpg" alt="Lana image">
                            </div> --}}
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Summa
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Umumiy hizmat narhi
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{price}}$
                            </div>
                        </div>
                    </li>


                    {{!-- TRAFFIC SECTION --}}

                    <li class="pt-3 pb-0 sm:py-4">
                        <div class="flex items-center space-x-4">
                            {{!-- <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Thomas image">
                            </div> --}}
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Traffik
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Harid qilingan traffic
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{traffic}}mb
                            </div>
                        </div>
                    </li>

                    {{!-- NUMBER CLIENT SECTION --}}
                    
                    <li class="pt-3 pb-0 sm:py-4">
                        <div class="flex items-center space-x-4">
                            {{!-- <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Thomas image">
                            </div> --}}
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    Raqam
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    Traffik uchun raqam
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{client_number}}
                            </div>
                        </div>
                    </li>

                    <li class="pt-3 pb-0 sm:py-4">
                        <div class="group flex items-center space-x-4">
                            
                            <div class="flex group justify-between gap-x-2 items-center min-w-0  ">
                                {{!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="group-hover:text-red-600 h-6 w-6 ">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg> --}}

                                <a href="/delete/{{id}}" class="text-sm font-medium text-red-600 hover:underline dark:text-blue-500">
                                    DELETE
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{{/each }}
